.accordion-body{
  background-color: #e3f2fd
}
.accordion-header{
  background-color: #e3f2fd
}

body {
    font-family: Helvetica, sans-serif;
    background-color: #606060;
  }
h1 {
  color: black;
}
h2 {
  color: grey;
}
p {
  color: black;
}
