.accordion-body{
  background-color: #e3f2fd
}
.accordion-button{
  background-color: #e3f2fd
}
.navbar-brand{
  color: #1E90FF
}
strong{
    color: #1E90FF
}

/* #e3f2fd */

body {
    font-family: Helvetica, sans-serif;
    background-color: #606060;
  }
h1 {
  color: black;
}
h2 {
  color: grey;
}
p {
  color: black;
  font-size: 15px;
}

.col-lg-8{
  position: absolute;
}
.left, .right{
  position: relative;
}
@media screen and (min-width : 1400px) {
  .right {
    float:right;
  }
  .left{
    position:absolute;
    float:left;
  }
}
